
    .row{
        display: flex;
        justify-content:center;
        align-items:center;
    }
    .card{
        margin-top:8rem;
        border:   0.3px #444444;
        box-shadow: 0 0 10px #444444;
        min-width:30rem;
    }
    
    .title {
        font-size:3em;
        text-align:center;
    }
    
    .content{
        display:flex;
        padding:1em;
        flex-direction:column;
        
    }
    
    .form-control{
        display:flex;
        border-radius:1em;
        width:100%;
        height:3em;
        margin:.4em;
    }
    
    .form-input{
        margin:2rem;
        align-self:center;
        text-align:center;
    }
    
    .btn {
        width:100%;
        border-radius:8px;
        margin:0.3rem;
        height:2rem;
    }
    
    .btn-login{
        background-color:#145DE8;
        color:white;   
    }
    
    .btn-registrarse{
        background-color:#BD0FAD;
        color:white;   
    }
    a{
        text-decoration: none;
        color:white;   

    }